# exclude configuration and metadata files
exclude .readthedocs.yml
exclude .pre-commit-config.yaml
exclude .coveragerc
exclude uv.lock

# exclude unnecessary directories
exclude tests/*
exclude docs/*
exclude examples/*
exclude scripts/*
exclude .github/*
exclude benchmark/*
exclude data/*
