[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "shapiq"
dynamic = ["version", "readme"]
description = "Shapley Interactions for Machine Learning"
requires-python = ">=3.10"
dependencies = [
    # core
    "numpy",
    "scipy",
    "pandas",
    "scikit-learn",
    "tqdm",
    "requests",
    # plotting
    "matplotlib",
    "networkx",
    "colour"
]
authors = [
    {name = "Maximilian Muschalik", email = "Maximilian.Muschalik@lmu.de"},
    {name = "Hubert Baniecki"},
    {name = "Fabian Fumagalli"},
]
maintainers = [
    {name = "Maximilian Muschalik", email = "Maximilian.Muschalik@lmu.de"},
]
license = "MIT"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    'Operating System :: Microsoft :: Windows',
    'Operating System :: Unix',
    'Operating System :: MacOS',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3.12',
    'Programming Language :: Python :: 3.13',
]
keywords = [
    "python",
    "machine learning",
    "interpretable machine learning",
    "shap",
    "xai",
    "explainable ai",
    "interaction",
    "shapley interactions",
    "shapley values",
    "feature interaction",
]

[tool.setuptools.packages.find]
where = ["."]
include = ["shapiq*"]

[tool.setuptools.dynamic]
version = {attr = "shapiq.__version__"}
readme = {file = ["README.md", "CHANGELOG.md"], content-type = "text/markdown"}

[project.urls]
documentation = "https://shapiq.readthedocs.io"
source = "https://github.com/mmschlk/shapiq"
tracker = "https://github.com/mmschlk/shapiq/issues"
changelog = "https://github.com/mmschlk/shapiq/blob/main/CHANGELOG.md"

[project.optional-dependencies]
ml = [
    "tabpfn",
    "torchvision",
    "torch",
    "xgboost",
    "lightgbm",
    "transformers",
    "scikit-image",
    "joblib",
    "tensorflow; python_version < '3.13'",
    "tf-keras; python_version < '3.13'",
]

[tool.pytest.ini_options]
testpaths = ["tests"]
minversion = "8.0"

[tool.coverage.report]
fail_under = 93
directory = "tests"

[tool.ruff]
line-length = 100
target-version = "py310"
src = ["tests", "shapiq", "docs"]


[tool.ruff.lint]
# extend-safe-fixes = ["ALL"]  # Dangerous on large codebases
select = [
    "A",
    "E",
    "F",
    "I",
    "UP",
    "B",
    "ARG",
    "INP",
    "ERA",
    "N812",  # TODO: add further N codes
    # "ANN",  # TODO: add this or include mypy
    #"D",  # TODO: include this in the near future
    "PTH",
]
ignore = [
    "E501",  # Line too long
    "N803",  # Variable X in function should be lowercase
    "N806"  # Variable X in function should be lowercase
#    "E501",    # Line too long
#    "D203",    # 1 blank line required before class docstring
#    "D211",    # No blank lines allowed before class docstring
#    "D213",    # Multi-line docstring summary should start at the second line
#    "N806",    # Variable X in function should be lowercase
#    "N803",    # Argument name `X` should be lowercase
#    "COM812",  # Trailing comma missing (conflicts with formatter)
#    "PLR2004", # Magic value used in comparison, consider replacing {value} with a constant variable
#    "RET504",  # Unnecessary assignment to {name} before return statement
]

# Exclude a variety of commonly ignored directories.
[tool.ruff.lint.per-file-ignores]
"tests/*.py" = [
    "S101", # we need asserts in tests
    "D",    # test docstrings don't matter too much
    "E501", # line too long
    "ANN", # type annotations
    "B",
    "ARG",
    "INP",
    "N",
    "PTH",
]
"*.ipynb" = [
    "E402",  # Module level import not at top of file (its .ipynb)
]
"docs/source/conf.py" = ["A001", "INP"]  # copyright must be at the top of the file
"benchmark/*.py" = ["INP", "PTH"]

[tool.ruff.lint.isort]
known-first-party = ["shapiq"]
extra-standard-library = ["typing_extensions"]
combine-as-imports = true
force-wrap-aliases = true

[dependency-groups]
test = [
    "pytest>=8.3.5",
    "pytest-cov>=6.0.0",
    "pytest-xdist>=3.6.1",
]
lint = [
    "ruff>=0.11.2",
    "pre-commit>=4.2.0",
]
dev = [
    "build>=1.2.2.post1",
    "twine>=6.1.0",
    "notebook>=7.3.3",
    "ipywidgets",
    {include-group = "test"},
    {include-group = "lint"},
]
