black==24.3.0
colour==0.1.5
coverage==7.4.4
matplotlib==3.8.4
networkx==3.2.1
pandas==2.2.1
pytest==8.1.1
ruff==0.3.5
scikit-image==0.22.0
scikit-learn==1.4.1.post1
scipy==1.13.0
shap==0.45.1
tqdm==4.66.2
torch==2.2.2
torchvision==0.17.2
transformers==4.39.3
xgboost==2.0.3
numpy==1.26.4
requests==2.31.0
cvxpy==1.5.2