# this requirements.txt file is maintained and bumbped by dependabot
# this file is used to see weather new versions of the libraries are available and break shapiq
black==24.10.0
colour==0.1.5
coverage==7.6.10
matplotlib==3.10.0
networkx==3.4.2
pandas==2.2.3
pytest==8.3.4
ruff==0.8.4
scikit-image==0.25.0
scikit-learn==1.6.0
scipy==1.14.1
tqdm==4.67.1
torch==2.5.1
torchvision==0.20.1
transformers==4.47.1
tensorflow==2.18.0
tf-keras==2.18.0
xgboost==2.1.3
numpy==1.26.4
requests==2.32.3
lightgbm==4.5.0
