# this requirements.txt file is pinned to versions that will work for all python 3.9+ environments
# the file is set into this directory to not be bumped by dependabot
black==24.8.0
colour==0.1.5
coverage==7.6.1
matplotlib==3.9.2
networkx==3.2.1
pandas==2.2.2
pytest==8.3.2
ruff==0.6.2
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.13.0
tqdm==4.66.5
torch==2.4.0
torchvision==0.19.0
transformers==4.44.2
xgboost==2.1.1
numpy==1.26.4
requests==2.32.3
lightgbm==4.5.0
tf-keras==2.18.0
tensorflow==2.18.0
