# this requirements.txt file is pinned to versions that will work for all python 3.10+ environments
# the file is set into this directory to not be bumped by dependabot
black
colour
coverage
matplotlib
networkx
pandas
pytest
ruff
scikit-image
scikit-learn
scipy
tqdm
torch
torchvision
transformers
tensorflow; python_version < "3.13"
tf-keras; python_version < "3.13"
xgboost
numpy
requests
lightgbm
tabpfn
