# This workflow will install Python dependencies, run code-quality checks

name: code-quality

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.11"

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
          enable-cache: true

    - name: Install pre-commit
      run: |
        uv sync --all-extras
        uv run pre-commit install

    - name: Run code-quality checks
      run: uv run pre-commit run --all-files --show-diff-on-failure
