# This workflow will install Python dependencies, run coverage tests with Python 3.11
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: coverage

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.11"

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true

    - name: Install dependencies
      run: uv sync --all-extras --dev

    - name: Measure coverage
      run: uv run pytest "tests/shapiq" --cov=shapiq --cov-report=xml -n logical

    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
        path-to-lcov: coverage.xml
