# This workflow will install Python dependencies, run coverage tests with Python 3.11
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: coverage

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true

    - name: Cache UV packages
      uses: actions/cache@v4
      with:
        path: |
          ${{ runner.os == 'Windows' && env.LOCALAPPDATA || env.HOME }}/uv
        key: uv-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('pyproject.toml', 'uv.lock') }}
        restore-keys: |
          uv-${{ runner.os }}-${{ matrix.python-version }}-

    - name: Install dependencies
      run: uv sync --all-extras --dev

    - name: Measure coverage
      run: uv pytest --cov=shapiq --cov-report=xml

    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
        path-to-lcov: coverage.xml
