# This workflow installs the shapiq package and tests if it can be imported successfully.
# This test is intended to see if circular dependencies are handled correctly.
name: Install & Import shapiq

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  install-and-import:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv and Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.11"
          activate-environment: true

      - name: Install package using uv
        run: uv pip install ".[games]"

      - name: Test import of shapiq
        run: uv run python -c "import shapiq; print('✅ shapiq imported successfully')"

      - name: Test import of shapiq_games
        run: uv run python -c "import shapiq_games; print('✅ shapiq_games imported successfully')"
