# This workflow will run the unit tests across multiple Python versions.
name: tests-shapiq

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit_tests:
    name: Run unit tests
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.10"
          - python-version: "3.13"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python ${{ matrix.python-version }} and uv
      id: setup-uv-python
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python-version }}
        enable-cache: true

    - name: Install dependencies
      run: uv sync --all-extras --dev

    - name: Test with pytest
      run: uv run pytest "tests/shapiq" -n logical
