# This workflow will install Python dependencies, run tests with Python 3.11 and a set of up-to-date
# dependencies.
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: unit-tests-current

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: 'pip'

    - name: Install current dependencies
      run: |
        pip install -r tests/requirements.txt

    - name: Test with pytest
      run: |
        pytest
